@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @apply bg-neutral-50
}
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.card {
  @apply shadow-2xl rounded-lg bg-gradient-to-r from-sky-300 to-indigo-300
}

.card-no-hover {
  @apply shadow-lg rounded-lg bg-white
}

.card-with-hover {
  @apply shadow-xl rounded-lg bg-white
}

.primary-button {
  @apply bg-blue-500 hover:bg-blue-600 outline-none shadow-md px-4 py-2 rounded-lg active:bg-blue-800
}

.dropdown-link {
  @apply flex px-11 py-5 hover:bg-gray-200;
}

/*
Animation classes and keyframes
*/

.card:hover {
  animation: kf-card-hover 500ms;
  animation-fill-mode: forwards;
}

.opacity-animation-0 {
  animation: kf-opacity 1s;
  animation-delay: 0ms;
  animation-fill-mode: forwards;
}

.opacity-animation-50 {
  animation: kf-opacity 1s;
  animation-delay: 50ms;
  animation-fill-mode: forwards;
}

.opacity-animation-100 {
  animation: kf-opacity 1s;
  animation-delay: 100ms;
  animation-fill-mode: forwards;
}

.opacity-animation-150 {
  animation: kf-opacity 1s;
  animation-delay: 150ms;
  animation-fill-mode: forwards;
}

.opacity-animation-200 {
  animation: kf-opacity 1s;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}

.opacity-animation-250 {
  animation: kf-opacity 1s;
  animation-delay: 250ms;
  animation-fill-mode: forwards;
}

.opacity-animation-300 {
  animation: kf-opacity 1s;
  animation-delay: 300ms;
  animation-fill-mode: forwards;
}

.opacity-animation-350 {
  animation: kf-opacity 1s;
  animation-delay: 350ms;
  animation-fill-mode: forwards;
}

.opacity-animation-400 {
  animation: kf-opacity 1s;
  animation-delay: 400ms;
  animation-fill-mode: forwards;
}

.opacity-animation-450 {
  animation: kf-opacity 1s;
  animation-delay: 450ms;
  animation-fill-mode: forwards;
}

.opacity-animation-500 {
  animation: kf-opacity 1s;
  animation-delay: 500ms;
  animation-fill-mode: forwards;
}

.opacity-animation-550 {
  animation: kf-opacity 1s;
  animation-delay: 550ms;
  animation-fill-mode: forwards;
}

.opacity-animation-600 {
  animation: kf-opacity 1s;
  animation-delay: 600ms;
  animation-fill-mode: forwards;
}

.opacity-animation-800 {
  animation: kf-opacity 1s;
  animation-delay: 800ms;
  animation-fill-mode: forwards;
}

.opacity-animation-1000 {
  animation: kf-opacity 1s;
  animation-delay: 1000ms;
  animation-fill-mode: forwards;
}

.width-animation {
  animation: kf-zero2fullw 2s;
  animation-delay: 200ms;
  animation-fill-mode: forwards;
}


@keyframes kf-card-hover {
  from {
    transform: scale(1.0);
    filter:hue-rotate(90deg)
  } 50% {
    filter:hue-rotate(45deg)
  } to {
    transform: scale(1.05);
    @apply shadow-2xl;
  }
}

@keyframes kf-opacity {
  from {
    opacity: 0;
  } to {
    opacity: 1;
  }
}

@keyframes kf-zero2fullw {
  from {
    opacity: 0;
    width: 0%;
  } to {
    opacity: 1;
    width: 100%;
  }
}